﻿@model IEnumerable<Agenda.Models.Evento>

<table class="table">
    <tr style="color: white; background-color:#101010; font: bold">
        <th>
            Nome
        </th>
        <th>
            Descrição
        </th>
        <th>
            Início
        </th>
        <th>
            Fim
        </th>
        <th>
            Status
        </th>
        <th>
            Categoria
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor( modelItem => item.EventoNome )
            </td>
            <td>
                @Html.DisplayFor( modelItem => item.EventoDescricao )
            </td>
            <td>
                @Html.DisplayFor( modelItem => item.EventoDataInicio )
            </td>
            <td>
                @Html.DisplayFor( modelItem => item.EventoDataFim )
            </td>
            <td>
                @Html.DisplayFor( modelItem => item.StatusNome )
            </td>
            <td>
                @Html.DisplayFor( modelItem => item.CategoriaNome )
            </td>
            <td>
                @*<input id="btnEditar" class="btn btn-default" type="button" value="Editar" onclick="Editar(@item.EventoId)" />*@
                <input id="btnExcluir" class="btn btn-danger" type="button" value="Excluir" onclick="Excluir(@item.EventoId)" />
            </td>
        </tr>
    }

</table>
