﻿@using Agenda.Models
@model Agenda.Models.Evento

@{
    ViewBag.Title = "Eventos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eventos</h2>
<h5 class="text-danger">@ViewBag.Error</h5>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Novo Evento</h4>
        <hr />
        @Html.ValidationSummary( true, "", new { @class = "text-danger" } )
        <div class="form-group">
            @Html.LabelFor( model => model.EventoNome, "Nome", htmlAttributes: new { @class = "control-label col-md-2" } )
            <div class="col-md-10">
                @Html.EditorFor( model => model.EventoNome, new { htmlAttributes = new { @class = "form-control", required="required", title="Campo Nome obrigatório" } } )
                @Html.ValidationMessageFor( model => model.EventoNome, "", new { @class = "text-danger" } )
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor( model => model.EventoDescricao, "Descrição", htmlAttributes: new { @class = "control-label col-md-2" } )
            <div class="col-md-10">
                @Html.EditorFor( model => model.EventoDescricao, new { htmlAttributes = new { @class = "form-control"} } )
                @Html.ValidationMessageFor( model => model.EventoDescricao, "", new { @class = "text-danger" } )
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor( model => model.EventoDataInicio, "Início", htmlAttributes: new { @class = "control-label col-md-2" } )
            <div class="col-md-10">
                @Html.EditorFor( model => model.EventoDataInicio, new { htmlAttributes = new {@class = "form-control", required = "required", title = "Campo Data Início obrigatório" } } )
                @Html.ValidationMessageFor( t => t.EventoDataInicio, "", new { @class = "text-danger" } )

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor( model => model.EventoDataFim, "Fim", htmlAttributes: new { @class = "control-label col-md-2" } )
            <div class="col-md-10">
                @Html.EditorFor( model => model.EventoDataFim, new { htmlAttributes = new { @class = "form-control", required = "required", title = "Campo Data Fim obrigatório" } } )
                @Html.ValidationMessageFor( model => model.EventoDataFim, "", new { @class = "text-danger" } )
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor( model => model.EventoStatus, "Status", htmlAttributes: new { @class = "control-label col-md-2" } )
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.EventoStatus, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownList( "EventoStatus", new List<SelectListItem>
                {
                    new SelectListItem{ Text = "Aberto", Value="A" },
                    new SelectListItem{ Text = "Fechado", Value="F" }
                }, "Selecione o Status", new { @class = "form-control", required = "required", title = "Campo Obrigatório" } )
                @Html.ValidationMessageFor( model => model.EventoStatus, "", new { @class = "text-danger" } )
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor( model => model.CategoriaId, "Categoria", htmlAttributes: new { @class = "control-label col-md-2" } )
            <div class="col-md-10">
                @{
                    List<SelectListItem> listCat = new List<SelectListItem>();
                    foreach (Categoria cat in ViewBag.Categorias)
                    {
                        listCat.Add( new SelectListItem() { Text = cat.CategoriaNome, Value = cat.CategoriaId.ToString() } );
                    }
                }
                @Html.DropDownList( "CategoriaId", listCat, "Selecione a Categoria", new { @class = "form-control", required = "required", title = "Campo Obrigatório" } )
                @Html.ValidationMessageFor( model => model.CategoriaId, "", new { @class = "text-danger" } )
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
                    }

<div>
    @Html.ActionLink( "<<Lista", "Index" )
</div>
