﻿@*@model IEnumerable<Agenda.Models.Evento>*@

@{
    ViewBag.Title = "Eventos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style rel="stylesheet" type="text/css">
    .tudo {
        display: table;
        margin-bottom: 3px
    }

    .esquerda {
        float: left;
        width: 30%;
        margin-right: 3px
    }

    .direta {
        margin-left: 1%;
    }
</style>

<h2>Eventos</h2>
<h5>@ViewBag.Error</h5>
<div id="filtros" class="tudo col-lg-10">
    <div class="esquerda"> Data Inicio : <input id="dateTimeInicio" type="text" class="form-control" title="Digite a data no formato dd/mm/aaaa hh:mm:ss" /></div>
    <div class="esquerda">Data Fim :  <input id="dateTimeFim" type="text" class="form-control" title="Digite a data no formato dd/mm/aaaa hh:mm:ss" /></div>
    <div class="esquerda"><br /><input id="btnPesquisar" class="esquerda btn btn-default" type="submit" value="Pesquisar" style="width:250px"/></div>
</div>

<div id="tableEventos"></div>
<h5 class="text-danger">Serão mostrados os eventos mais recentes! Aplique flitros para mostrar resultados diferentes.</h5>

<p>
    <a href="@Url.Action( "Incluir", "Evento" )"><input id="btnNovo" class="btn btn-primary " type="button" value="Novo Evento" /></a>
</p>

<script type="text/javascript">

    listarEventos();
    function listarEventos() {
        var dateTimeInicioFil = $("#dateTimeInicio").val();
        var dateTimeFimFil = $("#dateTimeFim").val();

        $.post(
            "@Url.Action( "_ListarEventos", "Evento")",
            null,
            function (data) {
                $("#tableEventos").html(data);
            },
            "text"
        );
    }

    $('#btnPesquisar').click(function () {
        var dateTimeInicioFil = $("#dateTimeInicio").val();
        var dateTimeFimFil = $("#dateTimeFim").val();

        if (dateTimeInicioFil == '' || dateTimeFimFil == '') {
            alert('Por favor! Preencha os dois campos de datas');
        }
        else {
            $.post(
                "@Url.Action( "TestarDatas", "Evento")",
                {
                    dateTimeInicio: dateTimeInicioFil,
                    dateTimeFim: dateTimeFimFil
                },
                function (data) {
                    if (data) {
                        alert(data);
                    }
                    else {
                        listarEventos();
                    }
                },
                "text");

        }
    });

    function Excluir(x) {
        if (confirm("Deseja realmente excluir esse evento?")) {
            $.post(
                "@Url.Action( "Excluir", "Evento" )",
                { id: x },
                function (data) {
                    alert(data);
                    listarEventos();
                },
                "text"
            );

        }
    }
</script>
