﻿@model Agenda.Models.Evento

<style rel="stylesheet" type="text/css">
    .tudo {
        display: table;
    }

    .nome {
        float: left;
        width: 15%;
    }

    .dados {
        margin-left: 20%;
    }
</style>
<div class="tudo table table-responsive  " style="border-bottom:medium;border-color:black">
    <div class="nome ">
        <h4 style="color:darkslategrey">@Html.DisplayTextFor(m => m.EventoNome)</h4>
    </div>
    <div class="dados">
        @Html.DisplayTextFor(m => m.EventoDataInicio) até @Html.DisplayTextFor( m => m.EventoDataFim ) <br/>
        @Html.DisplayTextFor( m => m.EventoDescricao) <br />
        <input class="btn btn-default" type="submit" name="btnFinalizar" id="btnFinalizar" value="Feito!" onclick="finalizar(@Model.EventoId);"/>
    </div>
</div>
<hr />