﻿<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.2.1.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink( "Categorias", "Index", "Categoria" )</li>
                        <li>@Html.ActionLink( "Eventos", "Index", "Evento" )</li>
                    </ul>
                </button>
                @Html.ActionLink( "Agenda", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" } )
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink( "Categorias", "Index", "Categoria" )</li>
                    <li>@Html.ActionLink( "Eventos", "Index", "Evento" )</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br /><br /><br /><br />
        @RenderBody()
        <hr />
        <footer>
            <center><p>&copy; @DateTime.Now.Year - Agenda  </p></center>
        </footer>
    </div>

    <link href="@Url.Content("~/bundles/jquery")" rel="stylesheet" type="text/javascript" />
    <link href="@Url.Content("~/bundles/bootstrap")" rel="stylesheet" type="text/css" />
        @RenderSection( "scripts", required: false )
</body>
</html>
