﻿@model IEnumerable<Agenda.Models.Categoria>
<div class="table table-responsive"></div>
<table class="table table-hover table-striped">
    <tr style="color: white; background-color:#101010; font: bold">
        <th >
            Nome
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor( modelItem => item.CategoriaNome )
            </td>
            <td>
                <input id="btnEditar" class="btn btn-danger" type="button" value="Excluir" onclick="Excluir(@item.CategoriaId)" />
            </td>
        </tr>
    }
</table>
