﻿@model IEnumerable<Agenda.Models.Categoria>

@{
    ViewBag.Title = "Categorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categorias</h2>
<div id="tableCategorias" ></div>
<p>
    <a href="@Url.Action( "Incluir", "Categoria" )"><input id="btnNovaCategoria" class="btn btn-primary" type="button" value="Nova Categoria" /></a>
</p>

<script type="text/javascript">

    listarCategorias();

    function listarCategorias() {
        $.post(
            "@Url.Action( "_ListarCategoria", "Categoria" )",
            null,
            function (data) {
                $("#tableCategorias").html(data);
            },
            "text"
        );
    }

    function Excluir(x) {
        if (confirm("Deseja realmente excluir esta categoria?")) {
            $.post(
                "@Url.Action( "Excluir", "Categoria" )",
                {id : x},
                function (data) {
                    alert(data);
                    listarCategorias();
                },
                "text"
            );

        }
    }

</script>

