﻿@model IEnumerable<Agenda.Models.Evento>

@{
    ViewBag.Title = "Início - Agenda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eventos em aberto</h2>

@foreach (var item in Model)
{
    @Html.Partial( "_EventoAberto", item )
}

<script type="text/javascript">

    function finalizar(x) {
        if (confirm("Deseja finalizar este evento?")) {
            $.post(
                "@Url.Action("Finalizar", "Evento")",
                { id: x },
                function (data) {
                    alert(data);
                    window.location.replace("@Url.Action("Index", "Home")");
                },
                "text"
            );
        }
    }
</script>